<?xml version="1.0"?>
<config>
    <modules>
        <ZooZ_ZoozPayment>
            <version>0.1.0</version>
        </ZooZ_ZoozPayment>
    </modules>
    <global>
        <helpers>
            <zoozpayment>
                <class>ZooZ_ZoozPayment_Helper</class>
            </zoozpayment>
        </helpers>
    
        <models>
            <zoozpayment>
                <class>ZooZ_ZoozPayment_Model</class>
            </zoozpayment>
            <tax>
                <rewrite>
                    <!-- Model -->
                    <observer>ZooZ_ZoozPayment_Model_Observer</observer>
                </rewrite>
            </tax>   
        </models>
        <helpers>
            <zoozpayment>
                <class>ZooZ_ZoozPayment_Helper</class>
            </zoozpayment>
        </helpers>
        <blocks>
            <zoozpayment>
                <class>ZooZ_ZoozPayment_Block</class>
            </zoozpayment>
        </blocks>        
    </global>
    <default>
        <payment>
            <zoozpayment>
                <model>zoozpayment/standard</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>ZooZ Payment</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
		<zooz_sandbox_url>https://sandbox.zooz.co</zooz_sandbox_url>
		<zooz_production_url>https://app.zooz.com</zooz_production_url>
		<app_key>6fe2b3eb-3017-4d84-a5df-c14d675008ae</app_key>
		<app_unique_id>com.yourcompany.DemoZooZSDK.magento</app_unique_id>
		<zooz_serverkey>FMJM7QYXIOO2Y55FXBK7GTHUWE</zooz_serverkey>
		<zooz_useremail>ronen@tactusmobile.com</zooz_useremail>
            </zoozpayment>
        </payment>
    </default>


    <frontend>
        <routers>
            <zoozpayment>
                <use>standard</use>
                <args>
                    <module>ZooZ_ZoozPayment</module>
                    <frontName>zoozpayment</frontName>
                </args>
            </zoozpayment>
        </routers>
        <layout>
            <updates>
                <zoozpayment>
                    <file>zoozpayment.xml</file>
                </zoozpayment>
            </updates>
        </layout>
    </frontend>
 
</config> 
