<?xml version="1.0"?>
<config>
    <modules>
        <Zooz_Payments>
            <version>3.0.0.5</version>
        </Zooz_Payments>
    </modules>
 
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <cc_type>
                    <to_order_payment>*</to_order_payment>
                </cc_type>
                <cc_number>
                    <to_order_payment>*</to_order_payment>
                </cc_number>
                <cc_exp_month>
                    <to_order_payment>*</to_order_payment>
                </cc_exp_month>
                <cc_exp_year>
                    <to_order_payment>*</to_order_payment>
                </cc_exp_year>
                <cc_cid>
                    <to_order_payment>*</to_order_payment>
                </cc_cid>
                <cc_saved_card>
                    <to_order_payment>*</to_order_payment>
                </cc_saved_card>
                <cc_payment_token>
                    <to_order_payment>*</to_order_payment>
                </cc_payment_token>
                <is_iframe>
                    <to_order_payment>*</to_order_payment>
                </is_iframe>
                <cc_saved_cid>
                    <to_order_payment>*</to_order_payment>
                </cc_saved_cid>
                <cc_save_data>
                    <to_order_payment>*</to_order_payment>
                </cc_save_data>
            </sales_convert_quote_payment>
        </fieldsets>
     
        <helpers>
            <payments>
                <class>Zooz_Payments_Helper</class>
            </payments>
        </helpers>
 
        <blocks>
            <payments>
                <class>Zooz_Payments_Block</class>
            </payments>
        </blocks>
         
        <models>
            <payments>
                <class>Zooz_Payments_Model</class>
                <resourceModel>payments_resource</resourceModel>
            </payments>
            <payments_resource>
                <class>Zooz_Payments_Model_Resource</class>
                <entities>
                    <debug>
                        <table>zooz</table>
                    </debug>
                </entities>
            </payments_resource>
        </models>

        <resources>
            <payments_setup>
                <setup>
                    <module>Zooz_Payments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payments_setup>
            <payments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payments_write>
            <payments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payments_read>
        </resources>
        
        <payments>
            <cc>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>20</order>
                    </MC>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                        <order>30</order>
                    </AE>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                        <order>40</order>
                    </DI>
                    <DC>
                        <code>DC</code>
                        <name>Diners</name>
                        <order>50</order>
                    </DC>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                        <order>60</order>
                    </JCB>
                    <OT>
                        <code>OT</code>
                        <name>Other</name>
                        <order>70</order>
                    </OT>
                </types>
            </cc>
        </payments>
        <events>
            <sales_order_place_after>
                <observers>
                    <zooz_order_save_before>
                        <type>singleton</type>
                        <class>payments/observer</class>
                        <method>handleSalesOrderSaveBefore</method>
                    </zooz_order_save_before>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
 
    <default>
        <payment>
            <payments>
                <active>1</active>
                <model>payments/payments</model>
                <order_status>pending</order_status>
                <title>ZooZ Payment</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <payment_mode>sandbox</payment_mode>
                <useccv>1</useccv>
                <include_jquery>0</include_jquery>
            </payments>
        </payment>
    </default>
   
    <frontend>
        <routers>
            <payments>
                <use>standard</use>
                <args>
                    <module>Zooz_Payments</module>
                    <frontName>payments</frontName>
                </args>
            </payments>
        </routers>
        <layout>
            <updates>
                <payments>
                    <file>payments.xml</file>
                </payments>
            </updates>
        </layout>
    </frontend>
</config>